cdk.context.json
cdk.out/

*.swp
*.swo
.DS_Store
.idea/
.vscode/
node_modules/

cdk.staging/
cdk.context.json

dist/
tsconfig.tsbuildinfo

!/lambda/canary-app/nodejs/node_modules
!/lambda/canary-app/nodejs/node_modules/*.js